/* ===== PAGE A PROPOS ===== */
body {
  background-color: #ffffff !important; 
}
.about-page-container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  line-height: 1.6;
}
.about-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px; 
  background: transparent !important;
  background-color: transparent !important;
}
.about-hero-text {
  flex: 1;
  min-width: 300px;
}
.about-hero-text h1 {
  color:#555;
  margin-bottom: 20px;
}
.about-hero-text p {
  font-size: 1.1rem;
  color: #555;
}
.about-hero-image {
  flex: 1;
  min-width: 300px;
}
.about-hero-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.about-section {
  text-align: center;
  padding: 30px 20px; 
  background-color: #ffffff;
}
.about-section h2 {
  color: #555; 
  margin-bottom: 30px;
}
.about-grid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 25px;
}
.about-card {
  flex: 1;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  text-align: left;
}
.about-card:hover {
  transform: scale(1.03);
}
.about-card h3 {
  margin: 10px 0 5px;
  color: #333;
}
.about-card p {
  flex-grow: 1;
  color: #666;
  font-size: 0.9em;
}
.story_content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.story_content p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}
